.contact-header {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .contact-header-image {
    margin-top: 80px;
    width: 100%;
    height: 70vh;
    object-fit: cover;
  }
  
  .contact-header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .contact-form-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .contact-image-column {
    width: 55%;
    height: 100vh;
    overflow: hidden;
    object-fit: cover;
  }
  .contact-image-column img {
    width: 100%;
    height: 120%;
    object-fit: cover;
    animation: zoomInOut 15s infinite alternate;
  }
  .contact-form-column {
    width: 40%;
  }
  
  .contact-form-column h2 {
    margin-bottom: 20px;
  }
  
  /* thirdsection */

  .contact-cards-section {
    display: flex;
    justify-content: space-between; /* Ensures even spacing between cards */
    gap: 20px; /* Space between cards */
    padding: 20px; /* Padding for the whole section */
  }
  
  .contact-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center; /* Align icon and info vertically */
    padding: 15px;
    width: 100%; /* Ensures each card takes full width */
  }
  
  .contact-icon {
    font-size: 36px; /* Size of the icon */
    margin-right: 20px; /* Space between the icon and the content */
  }
  
  .contact-info {
    text-align: left; /* Aligns text to the left */
  }
  
  .contact-info h3 {
    margin: 0; /* No extra margin for heading */
  }
  
  .contact-info p {
    color: #666; /* Light gray for description text */
    margin: 0;
  }
  